<h2><%= author.name  %> </h2>
<a href="/author/<%=author.id  %> /edit">Edit</a>
<%- include('../partials/deleteForm.ejs', {url: `/authors/${author.id}`}) %> 

<% if(booksByAuthor.length > 0){ %>
    <h2>Books By Author</h2>
    <%for(i of booksByAuthor){ %>
        <div><img height="150" width="100" src="<%= i.coverImagePath %> " alt="book results"></div>
    <% } %>  
<% } %>  